Repository dnvgl/qats, pull requests merged in 2019-11, with the labels that each got.

#59 gui: fix issues with statistical table
  CHANGELOG.md
  qats/app/funcs.py
  qats/app/gui.py
  qats/stats/gumbel.py
  qats/ts.py
Labels: bug, gui

#54 rainflow: (optionally) include endpoints in cycle counting
  CHANGELOG.md
  qats/fatigue/rainflow.py
  qats/ts.py
  qats/tsdb.py
  test/test_rainflow.py
Labels: enhancement

#61 Clear the logger and display full time series path in GUI.
  qats/app/gui.py
Labels: bug, enhancement, gui

#65 Bug fixes
  CHANGELOG.md
  qats/app/funcs.py
  qats/app/gui.py
Labels: bug
